/* ===== Tiêu đề ===== */
QLabel#title_smart_locker {
    font-family: "Segoe UI", "Arial";
    font-size: 30px;
    font-weight: 700;
    color: #14213D;
}

/* ===== Khối main ===== */
QWidget#main {
    background-color: #dfe2e9;
    border-radius: 10px;
}

/* ===== Khối sidebar ===== */
QWidget#sider_bar {
    background-color: #14213D;
    border-radius: 10px;
}

/* ===== Sidebar buttons ===== */
QPushButton#chua_dk,
QPushButton#da_dk,
QPushButton#ho_tro {
    background-color: #abbbdf;
    color: #110707;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    padding: 14px 16px;
}

QPushButton#chua_dk:hover,
QPushButton#da_dk:hover,
QPushButton#ho_tro:hover {
    background-color: #abbbdf;
}

QPushButton#chua_dk:checked,
QPushButton#da_dk:checked,
QPushButton#ho_tro:checked {
    background-color: #abbbdf;
}

/* ===== Khối đồng hồ ===== */
QWidget#clock_frame {
    background-color: #29216e;
    border-radius: 10px;
}
QLabel#time_label {
    color: #bfc9e0;
    font-size: 22px;
    font-weight: 700;
}
QLabel#date_label {
    color: #dfeff1;
    font-size: 12px;
}

/* ===== Nút tủ — TRỐNG (available) ===== */
QPushButton[lockerState="available"] {
    background-color: #8cbd97;
    border: 2px solid #0d4923;
    border-radius: 12px;
    color: #166534;
    font-size: 16px;
    font-weight: 700;
}
QPushButton[lockerState="available"]:hover {
    background-color: #F0FDF4;
}

/* ===== Nút tủ — ĐANG DÙNG (busy) ===== */
QPushButton[lockerState="busy"] {
    background-color: #e41212;
    border: none;
    border-radius: 12px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
}

/* ===== Nút tủ — BẢO TRÌ (maintenance) ===== */
QPushButton[lockerState="maintenance"] {
    background-color: #d18c14;
    border: none;
    border-radius: 12px;
    color: #7C2D12;
    font-size: 16px;
    font-weight: 700;
}


/* ===== Khung chú thích ===== */
QGroupBox#chu_thich {
    border: 1px solid #D8DCE3;
    border-radius: 8px;
    font-size: 12px;
    color: #14213D;
    margin-top: 10px;
}
QGroupBox#chu_thich::title {
    subcontrol-origin: margin;
    left: 10px;
    padding: 0 4px;
    color: #14213D;
    font-weight: 600;
}